.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.6%;
  align-items: center;

  @media (max-width: 1023.9px) {
    column-gap: 4.1%;
    align-items: initial;
  }

  @media (max-width: 767.9px) {
    display: block;
    margin-left: -5px;
  }
}

.about__description {
  margin-top: -5px;

  @media (max-width: 1023.9px) {
    margin-top: -10px;
  }
}

.about__title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-dark;
  margin-bottom: 23px;

  @media (max-width: 1023.9px) {
    font-size: 26px;
    line-height: 36.4px;
    margin-bottom: 15px;
  }

  @media (max-width: 767.9px) {
    font-size: 24px;
    line-height: 33.6px;
  }
}

.about__title br {
  display: none;

  @media (max-width: 925px) {
    display: inline;
  }
}

.about__text {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-dark;

  @media (max-width: 767.9px) {
    margin-bottom: 43px;
  }
}

.about__text br {
  @media (max-width: 1145px) {
    display: none;
  }
}

.about__image {
  @media (max-width: 767.9px) {
    margin-right: -5px;
  }
}

.about__image img {
  @media (max-width: 767.9px) {
    margin: 0 auto;
  }
}
