.button {
  display: inline-flex;
  color: $color-dark;
  background-color: $color-light;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
