.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8.6%;
  align-items: center;

  @media (max-width: 1160px) {
    column-gap: 5%;
  }

  @media (max-width: 900.9px) {
    column-gap: 4.5%;
  }

  @media (max-width: 767.9px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.contacts__office {
  width: 100%;
  max-width: 500px;
}

.contacts__map-image {
  position: relative;
}

.contacts__map-image img {
  width: 560px;
  height: 306px;
  border: none;
  display: block;
  margin: 0 auto;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  z-index: -1;

  @media (max-width: 1160px) {
    width: 460px;
  }

  @media (max-width: 900.9px) {
    width: 324px;
    height: 335px;
  }

  @media (max-width: 767.9px) {
    width: 290px;
    height: 316px;
  }
}
