.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 19px;
}

.form__name input,
.form__phone input,
.form__email input {
  margin: 0;
  border: none;
  width: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: $color-light;
  flex-grow: 1;
  outline: none;
  padding: 12px 16px;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 2px -2px 5px $color-light;
  }

  &:active,
  &:focus-within {
    outline: none;
    background-color: $color-bg-cruises;
  }
}

.form__name input::placeholder,
.form__phone input::placeholder,
.form__email input::placeholder {
  color: $color-dark;
}

.form__checkbox-label {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: $color-light;
  margin-left: 10px;
  margin-bottom: 12px;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-bg-cruises;
  }

  @media (max-width: 1023.9px) {
    margin-bottom: 14px;
  }

  @media (max-width: 767.9px) {
    margin-left: 15px;
    margin-top: -3px;
    margin-bottom: 7px;
  }
}

.form__checkbox-label br {
  display: none;

  @media (max-width: 350px) {
    display: block;
  }
}

.form__button {
  width: 100%;
  padding: 10px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-dark;
  background-color: $color-light;
  border: none;
  display: flex;
  justify-content: center;
  user-select: none;

  &:hover,
  &:focus {
    background-color: $color-bg-cruises;
  }

  @media (max-width: 1023.9px) {
    padding: 11px 15px 11px 15px;
  }
}

.form__checkbox-control {
  position: relative;
  display: flex;
  align-items: baseline;
  cursor: pointer;

  @media (max-width: 1023.9px) {
    margin-top: -2px;
  }

  @media (max-width: 767.9px) {
    margin-top: -6px;
  }
}

.form__checkbox-control input {
  padding: 0;
  opacity: 0;
  outline: 0;
}

.form__checkbox-mark {
  box-sizing: border-box;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: $color-light;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-bg-cruises;
  }

  @media (max-width: 396px) {
    top: 6px;
  }
}

.form__checkbox-control input:hover ~ .form__checkbox-mark,
.form__checkbox-control input:focus ~ .form__checkbox-mark {
  outline: 2px solid $color-bg-cruises;
}

.form__checkbox-control input:checked + .form__checkbox-mark::before,
.form__checkbox-control input:checked + .form__checkbox-mark::after {
  position: absolute;
  content: "";
  top: 6px;
  left: 4px;
  width: 10px;
  height: 6px;
  background-image: url("../img/svg/checkbox.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
}
