.main-header {
  width: 100%;
  min-height: 655px;
  background-image: url("../img/bg-image.webp");
  background-position: center;
  background-size: cover;
  background-color: $color-bg;

  @media (min-width: 1023.9px) and (min-resolution: 2dppx) {
    background-image: url("../img/bg-image@2x.webp");
  }

  @media (max-width: 1023.9px) {
    min-height: 638px;
    background-image: url("../img/bg-image-tablet.webp");
  }

  @media (min-width: 767.9px) and (max-width: 1023.9px) and (min-resolution: 2dppx) {
    background-image: url("../img/bg-image-tablet@2x.webp");
  }

  @media (max-width: 767.9px) {
    min-height: 500px;
    background-image: url("../img/bg-image-mobile.webp");
    background-position: 50% 70%;
  }

  @media (max-width: 767.9px) and (min-resolution: 2dppx) {
    background-image: url("../img/bg-image-mobile@2x.webp");
  }
}

.main-header__container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;

  @media (max-width: 1023.9px) {
    padding: 29px 47px 27px 45px;
  }

  @media (max-width: 767.9px) {
    padding: 20px 15px 35px 15px;
  }
}

.main-header__description {
  padding: 155px 95px 120px 135px;

  @media (max-width: 1023.9px) {
    padding: 185px 45px 120px 45px;
  }

  @media (max-width: 767.9px) {
    padding: 93px 25px 30px 15px;
  }
}
