.main-footer {
  flex-shrink: 0;
}

.main-footer__wrapper {
  background-color: $color-dark;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: 1023.9px) {
    padding-top: 41px;
    padding-bottom: 43px;
  }

  @media (max-width: 767.9px) {
    padding-top: 33px;
  }
}

.main-footer__wrapper-container {
  display: flex;
  align-items: center;

  @media (max-width: 1023.9px) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: 767.9px) {
    flex-direction: column;
    align-items: initial;
  }
}

.main-footer__logo {
  @media (max-width: 1023.9px) {
    margin-top: 8px;
  }

  @media (max-width: 767.9px) {
    margin-left: -5px;
  }
}
