.map {
  width: 560px;
  height: 306px;

  @media (max-width: 1160px) {
    width: 460px;
  }

  @media (max-width: 900.9px) {
    width: 324px;
    height: 335px;
  }

  @media (max-width: 767.9px) {
    width: 290px;
    height: 316px;
  }
}

.map__image {
  position: relative;
}

.map__image picture {
  width: 560px;
  height: 306px;
  border: none;
  display: block;
  margin: 0 auto;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  z-index: -1;

  @media (max-width: 1160px) {
    width: 460px;
  }

  @media (max-width: 900.9px) {
    width: 324px;
    height: 335px;
  }

  @media (max-width: 767.9px) {
    width: 290px;
    height: 316px;
  }
}
